*{margin:0;padding:0;box-sizing:border-box;font-family:'Poppins',sans-serif}
body{background:#0b0f1a;color:#fff}
header{padding:20px 50px;display:flex;justify-content:space-between;align-items:center;background:#0e1220}
a{
	text-decoration: none;
	color: #f2f2f2f2;
}
.logo {
  font-weight: 700;
  font-size: 25px;

  background: linear-gradient(to right, #4da3ff, #4dffc7);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.container{padding:60px}
h1{text-align:center;margin-bottom:10px}
p.subtitle{opacity:0.8;margin-bottom:40px;text-align:center}
.chapter-grid{display:grid;grid-template-columns:repeat(auto-fit,minmax(250px,1fr));gap:25px}
.chapter-card{background:#11162a;padding:25px;border-radius:16px;transition:0.3s;text-align:center}
.chapter-card:hover{transform:translateY(-6px);box-shadow:0 0px 15px rgba(77, 169, 255,0.5)}
.chapter-card h3{color:#4da3ff;margin-bottom:12px}
.chapter-card a{display:inline-block;padding:10px 18px;border-radius:8px;background:#4da3ff;color:#000;font-weight:600;text-decoration:none;margin:5px;transition:0.3s}
.chapter-card a:hover{opacity:0.85}
footer{text-align:center;padding:25px;opacity:0.6;font-size:13px}