    *{margin:0;padding:0;box-sizing:border-box;font-family:'Poppins',sans-serif}
    body{background:#0b0f1a;color:#fff}
    a{text-decoration:none;color:inherit}

    header{
      padding:20px 50px;
      display:flex;
      justify-content:space-between;
      align-items:center;
      background:#0e1220;
    }
.logo {
  font-weight: 700;
  font-size: 25px;

  background: linear-gradient(to right, #4da3ff, #4dffc7);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

    .container{padding:60px}

    h1{font-size:34px;margin-bottom:10px}
    p.subtitle{opacity:0.8;margin-bottom:40px}

    .subject-grid{
      display:grid;
      grid-template-columns:repeat(auto-fit,minmax(260px,1fr));
      gap:30px;
    }

    .subject-card{
      background:#11162a;
      padding:30px;
      border-radius:18px;
      transition:0.3s;
    }

    .subject-card:hover{
      transform:scale(1.05);
      box-shadow:0 0px 25px rgba(66, 245, 188,0.5);
    }

    .subject-card h2{
      color:#4da3ff;
      margin-bottom:10px;
    }

    .subject-card p{
      font-size:14px;
      opacity:0.85;
      margin-bottom:20px;
    }

    .actions a{
      display:inline-block;
      margin-right:10px;
      margin-bottom:10px;
      padding:10px 18px;
      border-radius:8px;
      font-size:13px;
      font-weight:600;
    }

    .btn-notes{background:#4da3ff;color:#000}
    .btn-mcq{border:1px solid #4da3ff;color:#4da3ff}
    .btn-doubt{border:1px dashed #4da3ff;color:#4da3ff}

    footer{
      text-align:center;
      padding:25px;
      opacity:0.6;
      font-size:13px;
    }

  #hyperspeed {
    position: fixed;
    inset: 0;
    z-index: -1; /* stays behind your content */
    background: #0b0f1a;
  }
